<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcareapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cardiogram"
        android:label="Future Health"
        android:roundIcon="@drawable/cardiogram"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.EditDataActivity"></activity>
        <activity android:name=".activities.ViewDataUserActivity" />
        <activity android:name=".activities.ViewDataAdminActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.IllnessSearchActivity" />
        <activity android:name=".activities.AddDataActivity" />
        <activity android:name=".activities.MainUserActivity" />
        <activity android:name=".activities.MainAdminActivity" />
        <activity android:name=".activities.RegisterUserActivity" />
        <activity android:name=".activities.RegisterAdminActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>